@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    
    --foreground-hsl: 0, 0%, 0%;
    --background-start-hsl: 198, 13%, 83%;
    --background-end-hsl: 0, 0%, 100%;

    --mint-cream: 191, 52%, 94%;
    --snow-drift: 185, 48%, 95%;
    --whisper: 192, 45%, 98%;
    --powder-blue: 195, 48%, 79%;
    --baby-blue: 199, 53%, 89%;

    --table-text: 0, 0%, 10%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
  @media(prefers-color-scheme: dark){
    :root{

      --foreground-hsl: 0, 0%, 100%;
      --background-start-hsl: 0, 0%, 13%;
      --background-end-hsl: 0, 0%, 15%;
   
      --mint-cream: 0, 0%, 31%;
      --snow-drift: 0, 0%, 40%;
      --whisper: 0, 0%, 24%;
      --powder-blue: 0, 0%, 24%;
      --baby-blue: 0, 0%, 20%;

      --table-text: 0, 0%, 90%;

      --muted: 223 47% 11%;
      --muted-foreground: 215.4 16.3% 56.9%;
   
      --popover: 224 71% 4%;
      --popover-foreground: 215 20.2% 65.1%;
   
      --card: 224 71% 4%;
      --card-foreground: 213 31% 91%;
   
      --border: 216 34% 17%;
      --input: 216 34% 17%;
   
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 1.2%;
   
      --secondary: 222.2 47.4% 11.2%;
      --secondary-foreground: 210 40% 98%;
   
      --accent: 216 34% 17%;
      --accent-foreground: 210 40% 98%;
   
      --destructive: 0 63% 31%;
      --destructive-foreground: 210 40% 98%;
   
      --ring: 216 34% 17%;
   
      --radius: 0.5rem;
    }
  } 

}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply 
      bg-gradient-to-t
      from-background 
      to-background2 
      text-foreground
      bg-no-repeat
      bg-fixed;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

}
